<html>
<head>
    <title>Traze grid</title>
</head>
<body>
<div class="traze-header-container">
    <span class="traze-header">traze</span>
    <div class="traze-glow"></div>
</div>
<div class="game-grid-container">
    <canvas id="traze-grid-background-canvas"></canvas>
    <canvas id="traze-grid-canvas"></canvas>
</div>
</body>
</html>
